<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITE</title>
    <link rel="icon" href="./image/Logo.png">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <header-bar></header-bar>
    </header>
    <main>
        <div class="wrapper">
            <section class="hero-section">
                <div class="hero-description">
                    <h1>Literation <span>Testing</span></h1>
                    <p>Selamat datang! 
                        Di sini, kami mempercayai bahwa literasi adalah 
                        kunci untuk membuka pintu menuju pengetahuan 
                        dan pemahaman yang mendalam. Mari uji dan tingkatkan 
                        kemampuan literasi Anda bersama kami.
                    </p>
                    <a href="#" class="button">Cari Tahu Sekarang</a>
                </div>
                <div class="hero-image">
                    <img src="./image/vector-Literasi.png" alt="vector-beranda">
                </div>
            </section>
            <section class="statistik">
                
            </section>
        </div>
    </main>
    <footer></footer>
</body>
</html>